*** Config file for makeprefs ***

Note:
Every new compiler/tool section must start with ///name and finished with /// too.

Command format: (names are case sensitive)
@COMMAND makefile_variable ARGUMENT "argument_value" ...
	"cycle name 1" cycle value 1
   "cycle name 2" cycle value 2
   ...
   "cycle name n" cycle value n

Support command:
STRING/STRINGLIST : Ask for string (strings list)
                  : Note: Don't use the same variable for more if @STRING was used for them.
NUMBER/NUMBERLIST : Ask for number
CYCLE/CYCLELIST   : Select one of ..
DIR/DIRLIST       : Ask for directory
FILE/FILELIST     : Ask for file
FRAME             : Create frame and text info for current column
NOFRAME           : Create text without frame for current column or finish @FRAME (if no text specified)
COLEND            : Create next column for gadget(s)
SPACE             : Create empty space between gadgets
HELP              : Read external file with translate text (#id arguments)

Argument (value for argument must be written as "string"):
FRAME/NOFRAME     : Add text for gadget with/without frame
LABEL             : Add text for string gadget (on left gadget side)
HELP              : Add help bubble text info (you can brake line using '\n')
PREFIX            : Get all string(s) started with argument value (use it for xxxLIST)
INIT              : Initial value (for @FILE/@DIR)
INIT-             : Initial value (for @FILE/@DIR), but remove this value from return string
PATTERN           : Data for ASL-requester

*** BEGIN ***
///vbcc
@HELP "PROGDIR:help/vbcc.help"
[Project Info]
@FRAME "Project info"
@STRING OUTFILE HELP #H001
@DIR OUTDIR HELP #H002 NOFRAME "Output project file path"
@DIR OBJDIR HELP #H003 NOFRAME "Object file path"
@NOFRAME
@COLEND
@FRAME "Tools"
@STRING CC HELP #H004 NOFRAME "" LABEL " Compiler "
@STRING LD HELP #H005 NOFRAME "" LABEL "   Linker "
@FILE TARGET HELP #H006 NOFRAME "" LABEL "  Target " INIT- "vbcc:config/" PREFIX "+"
@NOFRAME

[Compiler]
@CYCLE CFLAGS HELP #H007
	"NoDebug"
	"Debug" -g
@CYCLE CFLAGS HELP #H008
	"Hunk=DWARF2"
	"Hunk=Amiga" -hunkdebug
@CYCLE CFLAGS HELP #H009
	"No C++ Comments"
	"C++ Comments" -cpp-comments
@CYCLE CFLAGS HELP #H010
	"ISO C 1989"
	"ISO C 1999" -c99
@CYCLE CFLAGS HELP #H011
	"No POSIX headers"
	"POSIX headers" -Ivbcc:posixlib/include
@CYCLE CFLAGS HELP #H012
	"NoKeepPreprocesse"
	"KeepPreprocessed" -E
@CYCLE CFLAGS HELP #H013
	"NoIntermediate"
	"KeepIntermediate" -k
@CYCLE CFLAGS HELP #H014
	"Assemble"
	"NoAssemble" -S
@CYCLE CFLAGS HELP #H015
	"Memsize=huge"
	"Memsize=small" -dontkeep-initialized-data
@COLEND
@DIRLIST CLIBS HELP #H016 NOFRAME "Include Paths" PREFIX "-I"
@COLEND
@STRINGLIST CDEFS HELP #H017 NOFRAME "Define" PREFIX "-D"

[Messages]
@CYCLE CWARNS HELP #H018 NOFRAME ""
	"Warnings"
	"AllWarningsOn" -warn=-1
	"AllWarningsOff" -dontwarn=-1
@CYCLE CWARNS HELP #H019
	"NoANSI"
	"ANSI C" -ansi
@CYCLE CWARNS HELP #H020
	"NoISO"
	"ISO C" -iso
@CYCLE CWARNS HELP #H021
	"FullFilenames"
	"HidePathPart" -strip-path
@CYCLE CWARNS HELP #H022 NOFRAME ""
	"NoVerbose"
	"Verbose" -v
	"VeryVerbose" -vv
@CYCLE CWARNS HELP #H023
	"Copyright"
	"NoCopyright" -quiet
@SPACE
@NUMBER CWARNS HELP #H024 NOFRAME "MaxErrors" PREFIX "-maxerrors="
@COLEND
@NUMBERLIST CWARNS HELP #H025 NOFRAME "Disable Warning" PREFIX "-dontwarn="
@COLEND
@NUMBERLIST CWARNS HELP #H026 NOFRAME "Enable Warning" PREFIX "-warn="
[CPU and FPU]
@CYCLE CFLAGS HELP #H027 NOFRAME "CPU and FPU"
	"CPU=Any"
	"CPU=680x0" -cpu=68010
	"CPU=68020" -cpu=68020
   "CPU=68030" -cpu=68030
	"CPU=68040" -cpu=68040
	"CPU=68060" -cpu=68060
@CYCLE CFLAGS HELP #H028
	"NoMath"
	"Math=any" -lm
	"Math=ieee.lib" -lmieee
	"Math=68881" -lm881
	"Math=68040" -lm040
@SPACE
@CYCLE CFLAGS HELP #H035 NOFRAME "PPC Code Options"
	"AlignStack"
	"NoAlignStack" -no-align-args
@CYCLE CFLAGS HELP #H036
	"NoAmigaAlign"
	"AmigaAlign" -amiga-align
@CYCLE CFLAGS HELP #H037
	"ConstinRodata"
	"ConstinData" -const-in-data
@CYCLE CFLAGS HELP #H038
	"NoMergeConst"
	"MergeConst" -merge-constants
@CYCLE CFLAGS HELP #H039
	"UseRegisterNames"
	"NoRegisterNames" -no-regnames
@CYCLE CFLAGS HELP #H040
	"StdAddressing"
	"OS4RelAddressing" -baserel32os4
	"MOSRelAddressing" -baserel32mos
@COLEND
@CYCLE CFLAGS HELP #H029 NOFRAME "Code and Data"
	"LargeCode"
	"SmallCode" -sc
@CYCLE CFLAGS HELP #H030
	"LargeData"
	"SmallData" -sd
@CYCLE CFLAGS HELP #H031
	"ConstData=Code"
	"ConstData=Data" -const-in-data
@SPACE
@CYCLE CFLAGS HELP #H041 NOFRAME "PPC Strategy"
	"No LMW/STMW"
	"Use IMW/STMW" -use-lmw
@CYCLE CFLAGS HELP #H042
	"No FMADD/FMSUB"
	"Use FMADD/FMSUB" -madd
@CYCLE CFLAGS HELP #H043
	"No FSUB-ZERO"
	"Use FSUB-ZERO" -fsub-zero
@COLEND
@CYCLE CFLAGS HELP #H032 NOFRAME "Code Options"
	"NoProfile"
	"Profile" -prof
@CYCLE CFLAGS HELP #H033
	"NoDoublePush"
	"DoublePush" -double-push
@CYCLE CFLAGS HELP #H034
	"NoStackCheck"
	"StackCheck" -stack-check
@SPACE
@CYCLE CDEFS HELP #H044 NOFRAME "PPC ABI"
	"NoPowerOpenABI"
	"PowerOpen AIX" -poweropen
	"PowerOpen StormC" -sc
@CYCLE CFLAGS HELP #H045
	"NoEmbeddedABI"
	"EmbeddedABI" -eabi
@CYCLE CFLAGS HELP #H046
	"NoPrefixElf"
	"PrefixElf" -elf
@CYCLE CFLAGS HELP #H047
	"NoCCSSignal"
	"SetCCSSignal" -setccs

[Optimizer]
@CYCLE CFLAGS HELP #H048 NOFRAME "Strategies"
	"NoOptimize"
	"OptimizeSome"    -O
	"OptimizeMost"    -O2
	"OptimizeAll"     -O3
	"OptimizeModules" -O4
@CYCLE CFLAGS HELP #H049
	"NoOptimizeSize"
	"OptimizeSize" -size
@CYCLE CFLAGS HELP #H050
	"NoOptimizeSpeed"
	"OptimizeSpeed" -speed
@CYCLE CFLAGS HELP #H051
	"OptimizePeephole"
	"NoOptPeephole" -no-peephole
@CYCLE CFLAGS HELP #H052
	"NoSchedule"
	"OptimizeSchedule" -schedule
@COLEND
@CYCLE CFLAGS HELP #H053 NOFRAME "Inline and Loop Unroling"
	"OptimizeInline"
	"NoOptInline" -no-inline-peephole
@CYCLE CFLAGS HELP #H054
	"NoUnrollAll"
	"UnrollAll" -unroll-all
@NUMBER CFLAGS HELP #H057 NOFRAME "" LABEL "Inline Size " PREFIX "-inline-size="
@NUMBER CFLAGS HELP #H058 LABEL "Unroll Size " PREFIX "-unroll-size="
@COLEND
@CYCLE CFLAGS HELP #H055 NOFRAME "Other"
	"OptimizeAlias"
	"NoOptAlias" -no-alias-opt
@CYCLE CFLAGS HELP #H056
	"NoAssociativeFP"
	"AssociativeFP" -fp-associative

[Linker]
@CYCLE LFLAGS HELP #H059 NOFRAME ""
	"Link"
	"NoLink" -c
@CYCLE LFLAGS HELP #H060
	"Stdlib"
	"NoStdlib" -nostdlib
@COLEND
@FILELIST LIBS HELP #H061 NOFRAME "Libraries/Objects" INIT "vbcc:targets/" PREFIX "-l" PATTERN "#?.(lib|a)"
	"amiga" -lamiga
	"auto"  -lauto
	"posix" -lposix
@COLEND
@DIRLIST LFLAGS HELP #H062 NOFRAME "Folders" PREFIX "-L"

///
///gcc
@HELP "PROGDIR:help/gcc.help"
[Project Info]
@FRAME "Project info"
@STRING OUTFILE HELP #H001
@DIR OUTDIR  HELP #H002 NOFRAME "Output project file path"
@DIR OBJDIR  HELP #H003 NOFRAME "Object file path"
@NOFRAME
@COLEND
@FRAME "Tools"
@STRING CC HELP #H004 NOFRAME "" LABEL " Compiler "
@STRING LD HELP #H005 NOFRAME "" LABEL "   Linker "
@STRING TARGET HELP #H006 NOFRAME "" LABEL "  Target " PREFIX "-b "
	"AmigaOS" -b amiga
	"MorphOS" -b morphos

@STRING TARGET NOFRAME "" LABEL " Version " PREFIX "-V"
	"2.95.3" -V 2.95.3
	"4.4.4"	-V 4.4.4

@NOFRAME
[Compiler]
@CYCLE CFLAGS HELP #H010 NOFRAME ""
	"IntermediateFiles"
	"UsePipe" -pipe

@CYCLE CFLAGS HELP #H011
	"DeleteIntermediate"
	"SaveIntermediate"   	 -save-temps

@CYCLE CFLAGS HELP #H012
	"Includes"
	"NoStdIncludes" -nostdinc
@SPACE
@FILE CFLAGS HELP #H013 NOFRAME "Specs file" PREFIX "-specs=" INIT "gg:lib/gcc-lib/specs"

@COLEND
@DIRLIST CLIBS HELP #H014 NOFRAME "Include Paths" PREFIX "-I"
[Preprocessor]
@CYCLE CFLAGS HELP #H015 NOFRAME ""
	"StripComments"
	"NoStripComments" -C

@CYCLE CFLAGS HELP #H016
	"DefineMacros"
	"NoDefineMacros" -undef

@CYCLE CFLAGS HELP #H017
	"GetLineNumbers"
	"NoGetLineNumbers" -P

@CYCLE CFLAGS HELP #H018
	"ANSI Preprocessor"
	"K&R Preprocessor" -traditional-cpp

@COLEND
@STRINGLIST CDEFS HELP #H019 NOFRAME "Define" PREFIX "-D"
@COLEND
@STRINGLIST CDEFS HELP #H020 NOFRAME "Undefine" PREFIX "-U"

[C Language]
@CYCLE CFLAGS HELP #H021 NOFRAME "Standards"
	"Language GNU89" -std=gnu89
	"Language GNU9x" -std=gnu9x
	"Language C89"   -std=c89
	"Language C9x"   -std=c9x
	"Language iso9899:1990" -std=iso9899:1990
	"Language iso9899:1994" -std=iso9899:199409
	"Language iso9899:199x" -std=iso9899:199X
@CYCLE CFLAGS HELP #H022
	"NoStrictANSI"
	"StrictANSI" -ansi
@CYCLE CFLAGS HELP #H023
	"NoTraditionalC"
	"TraditionalC" -traditional
@CYCLE CFLAGS HELP #H024
	"InlineASM"   -fasm
	"NoInlineASM" -fno-asm
@COLEND

@CYCLE CFLAGS HELP #H025 NOFRAME "Types"
	"SignedChar"   -fsigned-char
	"UnsignedChar" -funsigned-char
@CYCLE CFLAGS HELP #H026
	"SignedBitfield"   -fsigned-bitfields
	"UnsignedBitfield" -funsigned-bitfields
@CYCLE CFLAGS HELP #H027
	"String=Const"     -fno-writable-strings
	"WriteableStrings" -fwritable-strings
@CYCLE CFLAGS HELP #H028
	"PromoteToDouble"  -fno-allow-single-precision
	"AllowSinglePrecision" -fallow-single-precision
@COLEND

@CYCLE CFLAGS HELP #H029 NOFRAME "Other"
	"HostedEnviroment" -fhosted
	"Freestanding"     -ffreestanding
@CYCLE CFLAGS HELP #H030
	"BuiltinFunctions"   -fbuiltin
	"NoBuiltinFunctions" -fno-builtin
@CYCLE CFLAGS HELP #H031
	"NoTrigraphs"
	"Trigraphs" -trigraphs

[C++ Language]
@CYCLE CFLAGS HELP #H032
	"RTTI"   -frtti
	"NoRTTI" -fno-rtti
@CYCLE CFLAGS HELP #H033
	"NoStrictProtos" -fno-strict-prototype
	"StrictProtos"   -fstrict-prototype
@CYCLE CFLAGS HELP #H034
	"IgnoreStdNamespace"
	"NoIgnoreStdNamespace" -fno-honor-std
@CYCLE CFLAGS HELP #H035
	"ForLoopScope" -ffor-scope
	"NoForLoopScope" -fno-for-scope
@COLEND

@CYCLE CFLAGS HELP #H036
	"AccessControl" -faccess-control
	"NoAccessControl" -fno-access-control
@CYCLE CFLAGS HELP #H037
	"NoCheckNew" -fno-check-new
	"CheckNew"   -fcheck-new
@CYCLE CFLAGS HELP #H038
	"NoAssignToThis" -fno-this-is-variable
	"AssignToThis"   -fthis-is-variable
@COLEND

@CYCLE CFLAGS HELP #H039
	"NewNameMangling" -fname-mangling-version-1
	"OldNameMangling" -fname-mangling-version-0
@CYCLE CFLAGS HELP #H040
	"LongNameMangling"   -fno-squangle
	"CompressedMangling" -fsquangle

@CYCLE CFLAGS HELP #H041 NOFRAME ""
	"AcceptDollar"   -fdollars-in-identifiers
	"NoAcceptDollar" -fno-dollars-in-identifiers
@CYCLE CFLAGS HELP #H042
	"GNUKeywords" -fgnu-keywords
	"NoGNUKeywords" -fno-gnu-keywords
@CYCLE CFLAGS HELP #H043
	"NoOperatorNames" -fno-operator-names
	"OperatorNames"   -foperator-names
@CYCLE CFLAGS HELP #H044
	"NoSignatures"     -fno-handle-signatures
	"HandleSignatures" -fhandle-signatures
@SPACE

[Debugger]
@CYCLE CFLAGS HELP #H045 NOFRAME "Debug"
	"NoDebug"
	"Debug"        -g
	"Debug GDB"    -ggdb
	"Debug Stabs"  -gstabs
	"Debug Stabs+" -gstabs+
	"Debug COFF"   -gcoff
	"Debug XCOFF"  -gxcoff
	"Debug XCOFF+" -gxcoff+
	"Debug DWARF"  -gdwarf
	"Debug DWARF+" -gdwarf+
	"Debug DWARF2" -gdwarf-2
@CYCLE CFLAGS HELP #H046
	"DebugLevel2"
	"DebugLevel1" -g1
	"DebugLevel2" -g2
	"DebugLevel3" -g3
@COLEND

@CYCLE CFLAGS HELP #H047 NOFRAME "Profile"
	"NoProfile"
	"Profile" -p
	"ProfileGPROF" -pg
@CYCLE CFLAGS HELP #H048
	"NoProfileBlocks"
	"ProfileBlock"      -a
	"ProfileBlockExtra" -ax
@CYCLE CFLAGS HELP #H049
	"NoArcs" -fno-profile-arcs
	"Arcs"   -fprofile-arcs
@CYCLE CFLAGS HELP #H050
	"NoCoverage"    -fno-test-coverage
	"SaveCoverageData" -ftest-coverage

[CPU and FPU]
@CYCLE CFLAGS HELP #H051 NOFRAME "CPU and FPU"
	"CPU=Any"
	"CPU=680x0" -m68000
	"CPU=68020" -m68020
   "CPU=68030" -m68030
	"CPU=68040" -m68040
	"CPU=68060" -m68060
	"CPU=68020-40" -m68020-40
	"CPU=68020-60" -m68020-60
	"CPU=PPC"     -mcpu=powerpc
	"CPU=PPC601"  -mcpu=601
	"CPU=PPC602"  -mcpu=602
	"CPU=PPC603"  -mcpu=603
	"CPU=PPC603e" -mcpu=603e
	"CPU=PPC604"  -mcpu=604
	"CPU=PPC604e" -mcpu=604e
	"CPU=PPC620"  -mcpu=620
	"CPU=PPC740"  -mcpu=740
	"CPU=PPC750"  -mcpu=750
	"CPU=PPC G3"  -mcpu=G3
	"CPU=PPC G4"  -mcpu=G4
	"CPU=PPC G5"  -mcpu=G5
@CYCLE CFLAGS HELP #H052
	"FPU=Any"
	"FPU=68881" -m68881
@CYCLE CFLAGS HELP #H053
	"UseFPU"    -mhard-float
	"SoftFloat" -msoft-float
@SPACE
@CYCLE CFLAGS HELP #H067 NOFRAME "PPC General"
	"Calls=SysV" -mcall-sysv
	"Calls=AIX"  -mcall-aix
	"Calls=Linux" -mcall-linux
	"Calls=Solaris" -mcall-solaris
@CYCLE CFLAGS HELP #H068
	"Prototyped" -mprototype
	"NoPrototyped" -mno-prototype
@CYCLE CFLAGS HELP #H069
	"32bit ABI" -maix32
	"64bit ABI" -maix64
@CYCLE CFLAGS HELP #H070
	"EmbeddedABI" -meabi
	"NoEmbeddedABI" -mno-eabi
@COLEND
@CYCLE CFLAGS HELP #H054 NOFRAME "M68k Code"
	"Code=far"  
	"Code=near" -msmall-code
@CYCLE CFLAGS HELP #H055
	"Data=far" -fno-baserel
	"Data=near16" -fbaserel
	"Data=near32" -fbaserel32
	"Data=resident16" -resident
	"Data=resident32" -resident32
@CYCLE CFLAGS HELP #H056
	"No32bitAlign"  -mno-align-int
	"32bitAlign"    -malign-int
@CYCLE CFLAGS HELP #H057
	"int=32bit"
	"int=16bit"  -mshort
@SPACE
@CYCLE CFLAGS HELP #H062 NOFRAME "PPC Code"
	"LittleEdian" -mlittle-endian
	"BigEdian"    -mbig-endian
@CYCLE CFLAGS HELP #H063
	"StrictAlign" -mstrict-align
	"NoStrictAlign" -mno-strict-align
@CYCLE CFLAGS HELP #H064
	"BitAlign" -mbit-align
	"NoBitAlign" -mno-bit-align
@CYCLE CFLAGS HELP #H065
	"UseFMADD/FMSUB" -mfused-madd
	"NoUseFMADD/FMSUB" -mno-fused-madd
@CYCLE CFLAGS HELP #H066
	"NoAltiVec"
	"AltiVec" -fvec
@COLEND
@CYCLE CFLAGS HELP #H058 NOFRAME "M68k Function Calls"
	"Parms=Stack"
	"Parms=Registers" -mregparm
	"Parms=Registers (1)" -mregparm=1
	"Parms=Registers (2)" -mregparm=2
	"Parms=Registers (3)" -mregparm=3
	"Parms=Registers (4)" -mregparm=4
@CYCLE CFLAGS  HELP #H059
	"NoStackCheck" -mno-stackcheck
	"StackCheck"   -mstackcheck
@CYCLE CFLAGS HELP #H060
	"NoStackExtend" -mno-stackextend
	"StackExtend"   -mstackextend
@CYCLE CFLAGS HELP #H061
	"NoReloadA4" -mno-restore-a4
	"ReloadA4"   -mrestore-a4
   "AlwayReloadA4" -malways-restore-a4
@SPACE
@CYCLE CFLAGS HELP #H071 NOFRAME "PPC Data"
	"Data=.sdata"  -msdata=sdata
	"Data=Default" -msdata=default
	"Data=EABI"    -msdata=eabi
	"Data=SysV"    -msdata=sysv
	"Data=None"    -msdata=none
@CYCLE CFLAGS HELP #H072
	"TOC"   -mtoc
	"NoTOC" -mno-toc
@CYCLE CFLAGS HELP #H073
	"FullTOC" -mfull-toc
	"MinimalTOC" -mminimal-toc
@CYCLE CFLAGS HELP #H074
	"NoRelocatable" -mno-relocatable
	"Relocatable"  -mrelocatable
@CYCLE CFLAGS HELP #H075
	"NoRelocatableLib" -mno-relocatable-lib
	"RelocatableLib"   -mrelocatable-lib

[Messages]
@CYCLE CWARNS HELP #H129 NOFRAME ""
	"NoVerbose"
	"Verbose" -v
@CYCLE CWARNS HELP #H076
	"Warnings"
	"NoWarnings" -w
	"AllWarnings" -Wall
@CYCLE CWARNS HELP #H077
	"NoExtraWarnings"
	"ExtraWarnings" -W
@CYCLE CWARNS HELP #H078
	"NoPedantic"
	"Pedantic"   -pedantic
	"PedanticErrors" -pedantic-errors
@CYCLE CWARNS HELP #H079
	"NoAbort"
	"AbortOnWarnings" -Werror
@CYCLE CWARNS HELP #H080
	"NoPermissiveC++" -fno-permissive
	"PermissiveC++"   -fpermissive
@CYCLE CWARNS HELP #H081
	"OptionalDiagnostics"
	"NoOptDiagnostics" -fno-optional-diags
@COLEND
@CYCLELIST CWARNS HELP #H082 NOFRAME "Disable Warning"
	"aggregate-return" -Wno-aggregate-return
	"bad-function-cast"	 -Wno-bad-function-cast
	"cast-align" -Wno-cast-align
	"cast-qual"  -Wno-cast-qual
	"char-subscripts" -Wno-char-subscripts
	"comment"    -Wno-comment
	"conversion" -Wno-conversion
	"error-implicit-function-declaration" -Wno-error-implicit-function-declaration
	"format" -Wno-format
	"id-clash-LEN" -Wno-id-clash-LEN
	"implicit"	 -Wno-implicit
	"implicit-function" -Wno-implicit-function
	"implicit-function-declaration"	 -Wno-implicit-function-declaration
	"implicit-int"	 -Wno-implicit-int
	"import"	 -Wno-import
	"inline"	 -Wno-inline
	"larger-than-LEN" -Wno-larger-than-LEN
	"long-long"	 -Wno-long-long
	"main" -Wno-main
	"missing-declarations" -Wno-missing-declarations
	"missing-noreturn" -Wno-missing-noreturn
	"missing-prototypes"	 -Wno-missing-prototypes
	"multichar"	 -Wno-multichar
	"nested-externs"	 -Wno-nested-externs
	"parentheses"	 -Wno-parentheses
	"pointer-arith" -Wno-pointer-arith
	"redundant-decls"	 -Wno-redundant-decls
	"return-type"	 -Wno-return-type
	"shadow"	 -Wno-shadow
	"sign-compare"	 -Wno-sign-compare
	"strict-prototypes"	 -Wno-strict-prototypes
	"switch"	 -Wno-switch
	"traditional"	 -Wno-traditional
	"trigraphs"		 -Wno-trigraphs
	"undef"			 -Wno-undef
	"uninitialized" -Wno-uninitialized
	"unknown-pragmas"	 -Wno-unknown-pragmas
	"unused"	 -Wno-unused
	"write-strings" -Wno-write-strings
@COLEND
@CYCLELIST CWARNS HELP #H083 NOFRAME "Enable Warning"
	"aggregate-return" -Waggregate-return
	"bad-function-cast"	 -Wbad-function-cast
	"cast-align" -Wcast-align
	"cast-qual"  -Wcast-qual
	"char-subscripts" -Wchar-subscripts
	"comment"    -Wcomment
	"conversion" -Wconversion
	"error-implicit-function-declaration" -Werror-implicit-function-declaration
	"format" -Wformat
	"id-clash-LEN" -Wid-clash-LEN
	"implicit"	 -Wimplicit
	"implicit-function" -Wimplicit-function
	"implicit-function-declaration"	 -Wimplicit-function-declaration
	"implicit-int"	 -Wimplicit-int
	"import"	 -Wimport
	"inline"	 -Winline
	"larger-than-LEN" -Wlarger-than-LEN
	"long-long"	 -Wlong-long
	"main" -Wmain
	"missing-declarations" -Wmissing-declarations
	"missing-noreturn" -Wmissing-noreturn
	"missing-prototypes"	 -Wmissing-prototypes
	"multichar"	 -Wmultichar
	"nested-externs"	 -Wnested-externs
	"parentheses"	 -Wparentheses
	"pointer-arith" -Wpointer-arith
	"redundant-decls"	 -Wredundant-decls
	"return-type"	 -Wreturn-type
	"shadow"	 -Wshadow
	"sign-compare"	 -Wsign-compare
	"strict-prototypes"	 -Wstrict-prototypes
	"switch"	 -Wswitch
	"traditional"	 -Wtraditional
	"trigraphs"		 -Wtrigraphs
	"undef"			 -Wundef
	"uninitialized" -Wuninitialized
	"unknown-pragmas"	 -Wunknown-pragmas
	"unused"	 -Wunused
	"write-strings" -Wwrite-strings

[Optimizer (1)]
@CYCLE CFLAGS HELP #H084 NOFRAME "General Options"
	"Optimize" -O1
	"OptimizeMore" -O2
	"OptimizeEvenMore" -O3
	"OptimizeSize" -Os
	"NoOptimize" -O0
@CYCLE CFLAGS HELP #H085
	"PeepholeOptimizer" -fpeephole
	"NoPeepholeOptimizer" -fno-peephole
@CYCLE CFLAGS HELP #H086
	"NoScheduler" -fno-schedule-insns
	"Scheduler"   -fschedule-insns
	"TwoPassScheduler" -fschedule-insns2
@CYCLE CFLAGS HELP #H087
	"NoExpensiveOpt" -fno-expensive-optimizations
	"ExpensiveOpt" -fexpensive-optimizations
@CYCLE CFLAGS HELP #H088
	"NoStrictAliasing" -fno-ict-aliasing
	"StrictAliasing" -fstrict-aliasing
@COLEND
@CYCLE CFLAGS HELP #H089 NOFRAME "Registers"
	"FramePointer" -fno-omit-frame-pointer
	"OptimizeFramePtr" -fomit-frame-pointer
@CYCLE CFLAGS HELP #H090
	"NoSaveRegisters" -fno-caller-saves
	"SaveRegisters" -fcaller-saves
@CYCLE CFLAGS HELP #H091
	"DeferPop" -fdefer-pop
	"NoDeferPop" -fno-defer-pop
@CYCLE CFLAGS HELP #H092
	"NoCopyPointers" -fno-force-addr
	"CopyPointers" -fforce-addr
@CYCLE CFLAGS HELP #H093
	"NoCopyOperands" -fno-force-mem
	"CopyOperands" -fforce-mem
@COLEND
@CYCLE CFLAGS HELP #H094 NOFRAME "C++ and Math"
	"FastConstructor" -felide-constructors
	"CopyConstructor" -fno-elide-constructors
@CYCLE CFLAGS HELP #H095
	"ImpliciteTemplates" -fimplicit-templates
	"NoImpliciteTemplates" -fno-implicit-templates
@CYCLE CFLAGS HELP #H096
	"NoFastMath" -fno-fast-math
	"FastMath" -ffast-math
@CYCLE CFLAGS HELP #H097
	"StoreFloatsInFPU" -fno-float-store
	"StoreFloatsInRAM" -ffloat-store

[Optimizer (2)]
@CYCLE CFLAGS HELP #H098 NOFRAME "Code Options"
	"NoDelayedBranch" -fno-delayed-branch
	"DelayedBranch"   -fdelayed-branch
@CYCLE CFLAGS HELP #H099
	"NoThreadJumps" -fno-thread-jumps
	"ThreadJumps"   -fthread-jumps
@CYCLE CFLAGS HELP #H100
	"NoBranchProbabilities" -fno-branch-probabilities
	"BranchProbabilities"  -fbranch-probabilities

@CYCLE CFLAGS HELP #H101 NOFRAME ""
	"NoOptimizeMOVE" -fno-regmove
	"OptimizeMOVE"   -fregmove
@CYCLE CFLAGS HELP #H102
	"KeepUnusedConst" -fno-keep-static-consts
	"DeleteUnusedConst" -fkeep-static-consts
@CYCLE CFLAGS HELP #H103
	"NoSeparateFuncs" -fno-function-sections
	"SeparateFunction" -ffunction-sections
@CYCLE CFLAGS HELP #H104
	"NoSeparateData" -fno-data-sections
	"SeparateData"   -fdata-sections
@COLEND
@CYCLE CFLAGS HELP #H105 NOFRAME "Common Subexpressions"
	"FunctionCSE"  -ffunction-cse
	"NoFunctionCSE" -fno-function-cse
@CYCLE CFLAGS HELP #H106
	"NoCSEFollowJumps" -fno-cse-follow-jumps
	"CSEFollowJumps" -fcse-follow-jumps
@CYCLE CFLAGS HELP #H107
	"NoCSESkipBlocks" -fno-cse-skip-blocks
	"CSESkipBlocks" -fcse-skip-blocks
@CYCLE CFLAGS HELP #H108
	"NoReRunCSE" -fno-rerun-cse-after-loop
	"ReRunCSE"   -frerun-cse-after-loop
@CYCLE CFLAGS HELP #H109
	"NoGlobalCSEPass" -fno-gcse
	"GlobalCSEPass" -fgcse
@COLEND
@CYCLE CFLAGS HELP #H110 NOFRAME "Loops"
	"NoReRunLoopOpt" -fno-rerun-loop-opt
	"ReRunLoopOptimizer" -frerun-loop-opt
@CYCLE CFLAGS HELP #H111
	"NoUnrollLoops" -fno-unroll-loops
	"UnrollLoops"  -funroll-loops
@CYCLE CFLAGS HELP #H112
	"NoUnrollAllLoops" -fno-unroll-all-loops
	"UnrollAllLoops" -funroll-all-loops
@CYCLE CFLAGS HELP #H113
	"NoMoveMoveable" -fno-move-all-movables
	"MoveMoveable" -fmove-all-movables
@CYCLE CFLAGS HELP #H114
	"NoStrengthReduce" -fno-strength-reduce
	"StrengthReduce" -fstrength-reduce
@CYCLE CFLAGS HELP #H115
	"NoReduceAllVars" -fno-reduce-all-givs
	"ReduceAllVars"   -freduce-all-givs
[Inline]
@COLEND
@CYCLE CFLAGS HELP #H116
	"NoAutomaticInline" -fno-inline-functions
	"InlineSmallFunctions" -finline-functions
@CYCLE CFLAGS HELP #H117
	"UseInlineDirective" -finline
	"IgnoreInlineDirective" -fno-inline
@CYCLE CFLAGS HELP #H118
	"InlineClassFunc" -fdefault-inline
	"NoInlineClassFunc" -fno-default-inline
@CYCLE CFLAGS HELP #H119
	"DeleteInlinedFunc" -fno-keep-inline-functions
	"KeepInlinedFunc" -fkeep-inline-functions
@NUMBER CFLAGS HELP #H120 NOFRAME "Inline limit" PREFIX "-finline-limit-"
@COLEND
[Linker]
@CYCLE LFLAGS HELP #H121 NOFRAME ""
	"StartupCode"
	"NoStartupCode" -nostartfiles
@CYCLE LFLAGS HELP #H122
	"StandardLibs"
	"NoStandardLibs" -nostdlib
@CYCLE LFLAGS HELP #H123
	"DefaultLibs"
	"NoDefaultLibs" -nodefaultlibs
@CYCLE LFLAGS HELP #H124
	"ixemul"
	"libnix" -noixemul
@CYCLE LFLAGS HELP #H125
	"NoStripSymbols"
	"StripSymbols" -s
@CYCLE LFLAGS HELP #H126
	"clib2"
	"newlib" -newlib
@COLEND
@STRINGLIST LIBS HELP #H127 NOFRAME "Link with" PREFIX "-l"
	"amiga" -lamiga
	"auto"  -lauto
	"debug" -ldebug
	"m"	  -lm
	"mui"   -lmui
	"raauto" -lraauto
	"telnet" -ltelnet
	"termcap" -ltermcap
@COLEND
@DIRLIST LIBS HELP #H128 NOFRAME "Folders" PREFIX "-L" INIT "gg:"
///
///sas-c
@HELP "PROGDIR:help/sas-c.help"
[Project Info]
@FRAME "Project info"
@STRING OUTFILE HELP #H001
@DIR OUTDIR HELP #H002 NOFRAME "Output project file path"
@DIR OBJDIR HELP #H003 NOFRAME "Object file path"
@NOFRAME
@COLEND
@FRAME "Tools"
@STRING CC HELP #H004 NOFRAME "" LABEL " Compiler "
@STRING LD HELP #H005 NOFRAME "" LABEL "   Linker "
@NOFRAME

[Compiler]
@CYCLE CFLAGS
	"NoDebug"
	"Debug=LINE" DEBUG=LINE
	"Debug=SYMBOL" DEBUG=SYMBOL
	"Debug=SYMBOLFLUSH" DEBUG=SYMBOLFLUSH
	"Debug=FULL" DEBUG=FULL
	"Debug=FULLFLUSH" DEBUG=FULLFLUSH
@CYCLE CFLAGS
	"NoShortIntegers"
	"ShortIntegers" SHORTINTEGERS
@CYCLE CFLAGS
	"NoStringMerge"
	"StringMerge" STRINGMERGE
@CYCLE CFLAGS
	"NoUnsignedChar"
	"UnsignedChar" UNSIGNEDCHARS
@CYCLE CFLAGS
	"NoCommentNest"
	"CommentNest" COMMENTNEST
@CYCLE CFLAGS
	"MultipleIncludes"
	"NoMultipleIncludes" NOMULTIPLEINCLUDES
@CYCLE CFLAGS
	"NoGSTImmediate"
	"GSTImmediate" GSTIMMEDIATE
@SPACE
@STRING CFLAGS LABEL "GST : " PREFIX "GLOBALSYMBOLTABLE="
@COLEND
@CYCLE CFLAGS
	"Icons"
	"NoIcons" NOICONS
@CYCLE CFLAGS
	"NoModified"
	"Modified" MODIFIED
@CYCLE CFLAGS
	"NoPreProcessOnly"
	"PreProcessOnly" PREPROCESSORONLY
@CYCLE CFLAGS
	"NoCXXOnly"
	"CXXOnly" CXXONLY
@CYCLE CFLAGS
	"MemSize=Large"
	"MemSize=Huge" MEMORYSIZE=HUGE
	"MemSize=Tiny" MEMORYSIZE=TINY
	"MemSize=Small" MEMORYSIZE=SMALL
	"MemSize=Medium" MEMORYSIZE=MEDIUM
@CYCLE CFLAGS
	"NoStringConst"
	"StringConst" STRINGSCONST
@CYCLE CFLAGS
	"WarnVoidReturn"
	"NoWarnVoidReturn" NOWARNVOIDRETURN
@SPACE
@STRING CFLAGS LABEL "MakeGST : " PREFIX "MAKEGLOBALSYMBOLTABLE="
@COLEND
@CYCLE CFLAGS
	"NoMCConstants"
	"MCConstants" MULTIPLECHARACTERCONSTANTS
@DIRLIST CLIBS NOFRAME "Include Directory" PREFIX "INCLUDEDIR="
@STRINGLIST CDEFS NOFRAME "Define" PREFIX "DEFINE "

[Messages]
@CYCLE CWARNS
	"NoAnsi"
	"Ansi" ANSI
@CYCLE CWARNS
	"NoStrict"
	"Strict" STRICT
@CYCLE CWARNS
	"NoVerbose"
	"Verbose" VERBOSE
@CYCLE CWARNS
	"Version"
	"NoVersion" NOVERSION
@NUMBERLIST CWARNS NOFRAME "Disable Warning" PREFIX "IGNORE="
@COLEND
@CYCLE CWARNS
	"ErrorConsole"
	"NoErrorConsole" NOERRORCONSOLE
@CYCLE CWARNS
	"ErrorListing"
	"NoErrorListing" NOERRORLISTING
@CYCLE CWARNS
	"ErrorSource"
	"NoErrorSource" NOERRORSOURCE
@CYCLE CWARNS
	"ErrorHighlight"
	"NoErrorHighlight" NOERRORHIGHLIGHT
@NUMBERLIST CWARNS NOFRAME "Enable Warning" PREFIX "WARN="
@COLEND
@CYCLE CWARNS
	"NoErrorRexx"
	"ErrorRexx" ERRORREXX
@CYCLE CWARNS
	"NoStructEquivalence"
	"StructEquivalence" STRUCTUREEQUIVALENCE
@CYCLE CWARNS
	"OnError=STOP"
	"OnError=CONTINUE" ONERROR=CONTINUE
@NUMBER CWARNS LABEL "MaxError : " PREFIX "MAXIMUMERRORS="
@NUMBER CWARNS LABEL "MaxWarn : " PREFIX "MAXIMUMWARNINGS="
@NUMBERLIST CWARNS NOFRAME "Warning as Error" PREFIX "ERROR="

[Code]
@CYCLE CFLAGS
	"CPU=ANY"
	"CPU=68010" CPU=68010
	"CPU=68020" CPU=68020
	"CPU=68030" CPU=68030
	"CPU=68040" CPU=68040
	"CPU=68060" CPU=68060
@CYCLE CFLAGS
	"NoMath"
	"Math=STANDARD" MATH=STANDARD
	"Math=IEEE"  MATH=IEEE
	"Math=FFP"   MATH=FFP
	"Math=68881" MATH=68881
@CYCLE CFLAGS
	"Data=NEAR"
	"Data=FAR"	DATA=FAR
	"Data=AUTO"	DATA=AUTOMATIC
	"Data=FARONLY"	DATA=FARONLY
@CYCLE CFLAGS
	"Code=NEAR"
	"Code=FAR" CODE=FAR
@CYCLE CFLAGS
	"DataMem=ANY"
	"DataMem=FAST" DATAMEMORY=FAST
	"DataMem=CHIP" DATAMEMORY=CHIP
@SPACE
@STRING CFLAGS LABEL "CodeName : "  PREFIX "CODENAME="
@STRING CFLAGS LABEL "DataName : "  PREFIX "DATANAME="
@STRING CFLAGS LABEL "BSSName : "   PREFIX "BSSNAME="
@COLEND
@CYCLE CFLAGS
	"StrSect=DEFAULT"
	"StrSect=NEAR" STRINGSECTION=NEAR
	"StrSect=FAR"  STRINGSECTION=FAR
	"StrSect=CODE" STRINGSECTION=CODE
@CYCLE CFLAGS
	"Precision=MIXED"
	"Precision=DOUBLE" PRECISION=DOUBLE
@CYCLE CFLAGS
	"Parms=STACK"
	"Parms=REGISTER" PARAMETERS=REGISTERS
	"Parms=BOTH" PARAMETERS=BOTH
@CYCLE CFLAGS
	"NoStackExtend"
	"StackExtend" STACKEXTEND
@CYCLE CFLAGS
	"StackCheck"
	"NoStackCheck" NOSTACKCHECK
@CYCLE CFLAGS
	"NoSaveDS"
	"SaveDS" SAVEDS
@SPACE
@STRING CFLAGS LABEL "ObjectLib : " PREFIX "OBJECTLIBRARY="
@STRING CFLAGS LABEL "Sourceis : "  PREFIX "SOURCEIS="
@STRING CFLAGS LABEL "DisAssem : "  PREFIX "DISASSEMBLE="
@COLEND
@CYCLE CFLAGS
	"AutoRegister"
	"NoAutoRegister" NOAUTOREGISTER
@CYCLE CFLAGS
	"NoUtilLib"
	"UtilLib" UTILITYLIBRARY
@CYCLE CFLAGS
	"ConstLibBase"
	"NoConstLibBase" NOCONSTLIBBASE
@CYCLE CFLAGS
	"NoLibCode"
	"LibCode" LIBRARYCODE
@CYCLE CFLAGS
	"NoAbsFuncPointer"
	"AbsFuncPointer" ABSFUNCPOINTER
@CYCLE CFLAGS
	"NoCommon"
	"Common" COMMON
@CYCLE CFLAGS
	"NoCoverage"
	"Coverage" COVERAGE
@CYCLE CFLAGS
	"NoProfile"
	"Profile" PROFILEHOOK
[List / Xref]
@CYCLE CFLAGS
	"NoList"
	"List" LIST
@FRAME "Only if 'List' option is on"
@CYCLE CFLAGS
	"NoListMacros"
	"ListMacros" LISTMACROS
@CYCLE CFLAGS
	"NoListIncludes"
	"ListIncludes" LISTINCLUDES
@CYCLE CFLAGS
	"ListHeaders"
	"NoListHeaders" NOLISTHEADERS
@CYCLE CFLAGS
	"NoListSystem"
	"ListSystem" LISTSYSTEM
@CYCLE CFLAGS
	"ListNarrow"
	"NoListNarrow" NOLISTNARROW
@CYCLE CFLAGS
	"ErrorListing"
	"NoErrorListing" NOERRORLISTING
@NOFRAME
@COLEND
@CYCLE CFLAGS
	"NoXref"
	"Xref" XREFERENCE
@FRAME "Only if 'Xref' option is on"
@CYCLE CFLAGS
	"NoXrefSystem"
	"XrefSystem" XREFERENCESYSTEM
@CYCLE CFLAGS
	"NoXrefHeaders"
	"XrefHeaders" XREFERENCEHEADERS
@NOFRAME
@FILE CFLAGS LABEL "ListFile : " NOFRAME "" PREFIX "LISTFILE="

[Optimizer]
@CYCLE CFLAGS
	"NoOptimize"
	"Optimize" OPTIMIZE
@FRAME "Only if 'Optimize' option is on"
@CYCLE CFLAGS
	"OptimizeGlobal"
	"NoOptimizeGlobal" NOOPTIMIZERGLOBAL
@CYCLE CFLAGS
	"OptimizePeep"
	"NoOptimizePeep" NOOPTIMIZERPEEPHOLE
@CYCLE CFLAGS
	"NoOptimizeSchedule"
	"OptimizeSchedule" OPTIMIZERSCHEDULER
@NUMBER CFLAGS NOFRAME LABEL "OptComp : " PREFIX "OPTIMIZERCOMPLEXITY="
@NUMBER CFLAGS LABEL "OptDepth : "  PREFIX "OPTIMIZERDEPTH="
@NUMBER CFLAGS LABEL "OptRDepth : " PREFIX "OPTIMIZERRECURDEPTH="
@NOFRAME
@COLEND
@FRAME "Only if 'Optimize' option is on"
@CYCLE CFLAGS
	"OptInline"
	"NoOptInline" NOOPTIMIZERINLINE
@CYCLE CFLAGS
	"NoOptinLocal"
	"OptinLocal" OPTIMIZERINLINELOCAL
@CYCLE CFLAGS
	"OptLoop"
	"NoOptLoop" NOOPTIMIZERLOOP
@CYCLE CFLAGS
	"NoOptSize/Time"
	"OptSize" OPTIMIZERSIZE
	"OptTime" OPTIMIZERTIME
@CYCLE CFLAGS
	"NoOptAlias"
	"OptAlias" OPTIMIZERALIAS
@NOFRAME

[Prototype]
@CYCLE CFLAGS
	"NoGenProto"
	"GenProto" GENPROTOS
@FRAME "Only if 'GenProto' option is on"
@CYCLE CFLAGS
	"GenProtoExtern"
	"NoGenProtoExtern" NOGENPROTOEXTERNS
@CYCLE CFLAGS
	"NoGenProtoStatic"
	"GenProtoStatic" GENPROTOSTATICS
@CYCLE CFLAGS
	"NoGenProtoParm"
	"GenProtoParm" GENPROTOPARAMETERS
@CYCLE CFLAGS
	"GenProtoTypedef"
	"NoGenProtoTypedef" NOGENPROTOTYPEDEFS
@CYCLE CFLAGS
	"GenProtoDataItem"
	"NoGenProtoDataItem" NOGENPROTODATAITEMS
@FILE CFLAGS LABEL "GenProtoFile : " NOFRAME "" PREFIX "GENPROTOFILE="
@NOFRAME
[Linker]
@CYCLE LFLAGS
	"NoSmallCode"
	"SmallCode" SMALLCODE
@CYCLE LFLAGS
	"NoSmallData"
	"SmallData" SMALLDATA
@CYCLE LFLAGS
	"NoAddSym"
	"AddSym" ADDSYMBOLS
@CYCLE LFLAGS
	"NoStripDebug"
	"StripDebug" STRIPDEBUG
@CYCLE LFLAGS
	"ChkAbort"
	"NoChkAbort" NOCHECKABORT
@CYCLE LFLAGS
	"NoBatch"
	"Batch" BATCH
@COLEND
@CYCLE LFLAGS
	"Startup=c"
	"Startup=cres"  STARTUP=cres
	"Startup=cback" STARTUP=cback
	"Startup=catch" STARTUP=catch
	"Startup=catchres" STARTUP=catchres
	"Startup=libinitr" STARTUP=libinitr
	"Startup=libinit" STARTUP=libinit
	"NoStartup" NOSTARTUP
@FRAME "if Startup=c (default)"
@STRING LFLAGS LABEL "Custom : " PREFIX "STARTUP="
@FRAME "if Startup=lib..."
@NUMBER LFLAGS LABEL "   LibVar : " PREFIX "LIBRARYVERSION="
@NUMBER LFLAGS LABEL "   LibRev : " PREFIX "LIBRARYREVISION="
@STRING LFLAGS LABEL "LibPrefix : " PREFIX "LIBRARYPREFIX="
@STRING LFLAGS LABEL "    LibFD : " PREFIX "LIBRARYFDFILE="
@NOFRAME
@COLEND
@FILELIST LIBS NOFRAME "Libraries/Objects" PREFIX "LIBRARY=" INIT "LIB:"
@STRING LWARNS LABEL "LinkerOpts : " PREFIX "LINKEROPTIONS="

[Map]
@CYCLE CFLAGS
	"NoMap"
	"Map" MAP
@FRAME "Only if 'Map' option is on"
@CYCLE CFLAGS
	"NoMapHunk"
	"MapHunk" MAPHUNK
@CYCLE CFLAGS
	"NoMapSymbols"
	"MapSymbols" MAPSYMBOLS
@CYCLE CFLAGS
	"NoMapLibraries"
	"MapLibraries" MAPLIB
@CYCLE CFLAGS
	"NoMapXref"
	"MapXref" MAPXREFERENCE
@CYCLE CFLAGS
	"NoMapOverlay"
	"MapOverlay" MAPOVERLAY
@FILE CFLAGS LABEL "MapFile : " NOFRAME "" PREFIX "MAPFILE="
@NOFRAME
///
///FLEXCAT
@HELP "PROGDIR:help/flexcat.help"
[Project Info]
@FRAME "Catalog file"
@STRING OUTFILE HELP #T001
@FILE LD HELP #T002 LABEL "Builder "
@NOFRAME
@STRINGLIST OBJS HELP #T003 NOFRAME "Translate file(s)" PREFIX "$(OBJDIR)"
@COLEND
@CYCLE LFLAGS HELP #H003 NOFRAME ""
	"NOWARNCTGAPS"
	"WARNCTGAPS" WARNCTGAPS
@CYCLE LFLAGS HELP #H004
	"OPTIM"
	"NOOPTIM" NOOPTIM
@CYCLE LFLAGS HELP #H005
	"NOFILL"
	"FILL" FILL
@CYCLE LFLAGS HELP #H006
	"NOFLUSH"
	"FLUSH" FLUSH
@CYCLE LFLAGS HELP #H007
	"BEEP"
	"NOBEEP" NOBEEP
@COLEND
@CYCLE LFLAGS NOFRAME "" HELP #H008
	"LANGTOLOWER"
	"NOLANGTOLOWER" NOLANGTOLOWER
@CYCLE LFLAGS HELP #H009
	"BUFFEREDIO"
	"NOBUFFEREDIO" NOBUFFEREDIO
@CYCLE LFLAGS HELP #H010
	"WARNINGS"
   "QUIET" QUIET
@CYCLE LFLAGS HELP #H013
	"WITHSPACE"
   "NOSPACE" NOSPACE
@FRAME ""
@CYCLE LFLAGS HELP #H011
	"NOCOPYMSGNEW"
   "COPYMSGNEW" COPYMSGNEW
@STRING LFLAGS HELP #H012 PREFIX "OLDMSGNEW="
@NOFRAME
///
///SIMPLECAT
@HELP "PROGDIR:help/simplecat.help"
[Project Info]
@FRAME "Catalog file"
@STRING OUTFILE HELP #T001
@FILE LD HELP #T002 LABEL "Builder "
@NOFRAME
@STRINGLIST OBJS HELP #T003 NOFRAME "Translate file(s)" PREFIX "$(OBJDIR)"
@COLEND
@FILE LDCS HELP #H001 NOFRAME "Project file"
@STRING LDEFS HELP #H002 NOFRAME "Default language"
	"english" english
@NUMBER LFLAGS HELP #H003 NOFRAME NOFRAME "Max.chars per line" PREFIX "CHARSPERLINE "

@CYCLE LFLAGS HELP #H004 NOFRAME ""
	"NOQUIET"
	"QUIET" QUIET
@CYCLE LFLAGS HELP #H005
	"FLUSH"
	"NOFLUSH" NOFLUSH
@CYCLE LFLAGS HELP #H006
	"OPT"
	"NOOPT" NOOPT
///


