-cc=vbccm68k -warn=-1 -dontwarn=65 -dontwarn=163 -dontwarn=164 -dontwarn=166 -dontwarn=167 -dontwarn=168 -dontwarn=307 -quiet %s -o= %s %s -O=%ld -Iinclude:
-ccv=vbccm68k -warn=-1 %s -o= %s %s -O=%ld -Iinclude:
-as=PhxAss noexe quiet %s to %s
-asv=PhxAss noexe %s to %s
-rm=delete quiet %s
-rmv=delete %s
-ld=PhxLnk vlib:startup.o %s %s vlib:vc.lib vlib:amiga.lib to %s
-l2=PhxLnk  %s %s to %s
-ldv=PhxLnk vlib:startup.o %s %s vlib:vc.lib vlib:amiga.lib to %s
-l2v=PhxLnk %s %s to %s
-ul=-l%s
-cf=-F%s
-ml=500
-D__VBCC__
