-no-preprocessor
-rm=delete %s quiet
-rmv=delete %s
-lm
-no-regnames
-no-multiple-ccs
-use-lmw
-peephole
-poweropen
-sc
-ul=-l%s
-cf=-F%s
-ml=500
-as=pasm -F2 %s -o %s
-asv=pasm -F2 %s -o %s
-ld=vlink -s -x -nostdlib -Lvlibwos: vlibwos:warpup.o %s %s -lvc vlibwos:x.o -o %s
-l2=vlink -s -x %s %s -o %s
-ldv=vlink -s -x -M -nostdlib -Lvlibwos: vlibwos:warpup.o %s %s -lvc vlibwos:x.o -o %s
-l2v=vlink -s -x -M %s %s -o %s
-cc=vbccppc -quiet %s -o= %s %s -O=%ld
-ccv=vbccppc %s -o= %s %s -O=%ld
-pp=vcpp -Ivincludewos:  %s %s %s
-ppv=vcpp -Ivincludewos:  %s %s %s
-cpu=603
-debug=0
-nostdlib
-maxerrors=10
-+
-amiga-align
-O=0
-maxoptpasses=10
-inline-size=256
-unroll-size=256
-Iinclude:


