***************************************************************
* Function Descriptor file for $Name Shared Library
* Created on $Date by $Author
*
* WARNING:  FD2Pragma chokes on un-necessary whitespace,
*           so this file is usually hard to read!!
***************************************************************
##base _$BaseName
##bias 30
##public
$FDFuncs
