<?xml version="1.0"?>

<!--
    Informations specified in this file may be very dangerous
    for security. You're be warned to mantain this file only
    on your development machine, NOT on your public server.
-->

<!-- Define database general info -->
<database>

    <!-- database type -->
    <!--
	You must select any of the following types:
	mySQL (only this type at the moment)
    -->
    <db-type> mySQL </db-type>

    <!-- host name -->
    <!--
	This is the host name of the database server.
	You can specify it by the URL name (eg: www.foo.com),
	or typing the IP address (eg: 123.45.67.89).
	Leaving this field blank, automatically
	will set to 127.0.0.1 (localhost).
    -->
    <db-host> 127.0.0.1 </db-host>

    <!-- port number -->
    <!--
	This is the port while database server is waiting
	for connections.
	Leaving this field blank, automatically will set
	the default port for the specified database type.
    -->
    <db-port>  </db-port>

    <!-- database name -->
    <!--
	This field specify the name of the working database
	present on the server.
    -->
    <db-name> test </db-name>

    <!-- data source name -->
    <!--
	You can specify the data source name here.
	This field is needed for ODBC drivers.
    -->
    <db-dsn>  </db-dsn>

    <!-- JDBC driver -->
    <!--
	This fields will specify the informations for JDBC
	driver access.
    -->
    <jdbc>
        <!-- driver name -->
	<!--
	    This is the name of the JDBC driver class.
	-->
        <jdbc-driver>  </jdbc-driver>

        <!-- connection string -->
	<!--
	    This is the connection string used by the JDBC
	    driver while connecting to the database.
	    This information can be founded on the man pages
	    of the JDBC driver you're using.
	-->
        <jdbc-string>  </jdbc-string>
    </jdbc>

    <!-- username -->
    <!--
	This is the username used while opening a connection
	to the specified database.
    -->
    <db-username>  </db-username>

    <!-- password -->
    <!--
	This is the password used while opening a connection
	to the specified database.
    -->
    <db-password>  </db-password>

</database>
