[Map]
Terrain=JUNGLE
X=16
Y=16
Width=96
Height=96

[Waypoints]
=fffhshhdhghddhdhhfhdsjfjhfjjjjetiktjtj
=hkggdjgkgfkgfkfgkfkggjfjgjgjffrrtkjrli
=gogfigfggkfjgkkgfkgggjfjgfjfjjjnbhugrr

[MapPack]
=CQAAIIH//v4f/4H/gAkAACCB//7+H/+f/4H/gA
=kAACCBAP7+HwCBAIAJAAAggQD+/h8AgQCAf.3F

