; SYNTAX: ALIGNLEFT/S,ALIGNRIGTH/S,ALIGNTOP/S,ALIGNBOTTOM/S,WIDTH/N,HEIGHT/N,CELLWIDTH/N,CELLHEIGHT/N,IMAGE/K,CLICK/K,CLICKSHIFT/K,CLICKALT/K,CLICKCTRL/K
ALIGNLEFT WIDTH=20 HEIGHT=20 CELLWIDTH=18 CELLHEIGHT=18
IMAGE="golded:add-ons/hollywood/images/black"    CLICK="TEXT T=#BLACK"
IMAGE="golded:add-ons/hollywood/images/white"    CLICK="TEXT T=#WHITE"
IMAGE="golded:add-ons/hollywood/images/red"      CLICK="TEXT T=#RED"
IMAGE="golded:add-ons/hollywood/images/green"    CLICK="TEXT T=#GREEN"
IMAGE="golded:add-ons/hollywood/images/blue"     CLICK="TEXT T=#BLUE"
IMAGE="golded:add-ons/hollywood/images/yellow"   CLICK="TEXT T=#YELLOW"
IMAGE="golded:add-ons/hollywood/images/mangenta" CLICK="TEXT T=#MANGENTA"
IMAGE="golded:add-ons/hollywood/images/gray"     CLICK="TEXT T=#GRAY"
IMAGE="golded:add-ons/hollywood/images/slider"   CLICK="COLOR ASK EDIT"
