#
# bc configuration file
#
# Copyright © 1995 Enchanted Blade Associates
# See documentation for distribution information
#
# The following settings duplicate the default values.
# Missing items in a config file (or a missing config file),
# or with a zero value, will be replaced with these values.
#
# Each line is of the format:
#
# ITEM=VALUE
#
# Where ITEM is the configuration item to change, and VALUE is
# the new value to give it.
# Notes: · Lines whose first non-space is `#' and blank lines are comments
#        · Spaces/case are ignored; I t  E m =  3 4 is the same as ITEM=34
#        · A line with no value (eg. "ITEM=") uses the default value.
#        · Remove these comments to increase compilation speed.
#        · A `tick' is 1/50th of a second.

# This is the gap between when the program starts and when the welcome
# window will appear.

Startup Delay Ticks = 50

# This is the gap between when the welcome window closes and TED is ready
# to accept a menu selection.  You may need to adjust this for long
# programs.

Load Delay Ticks = 100

# This is a small delay to allow the operating system to keep up with
# bc when it makes menu selections and so on.  You might need to increase
# this for slow processors.

Action Delay Ticks = 3

# You will have to adjust the menu position settings below if your editor
# screen is anything other than 640 x 200.  The co-ordinate ranges are
# 0-639 for x-values and 0-399 (NTSC) or 0-511 (PAL) for y-values; these
# must map to a real co-ordinate on the physical TED screen.  Hence, if
# your screen is two times as high as the default (i.e. 640 x 400), then
# you must halve every y-value, and so on for other changes.  If you
# wish to experiment with the values try setting "Action Delay Ticks"
# to 50 or more so you can see what is happening.

# Location of the "Project" menu

Project Menu X Position = 8
Project Menu Y Position = 4

# Location of the "Project/Quit" item

Quit Item X Position = 8
Quit Item Y Position = 300

# Location of the "Compiler" menu

Compiler Menu X Position = 310
Compiler Menu Y Position = 4

# Location of the "Compile/Run" item

Compile/Run X Position = 310
Compile/Run Y Position = 32

# Location of the "Create File" item

Create File X Position = 310
Create File Y Position = 100

# Location of the main text editor window,
# but not where the "bc" window opens.
# (Used to activate main TED window.)

Activate Screen X Position = 8
Activate Screen Y Position = 200

# END
