# Konfigurationsdatei zu AddComment V1.0
# © by Harald Sodemann 1.9.1996
# Anzahl der Editoren
5
MaxonDev4.0
MaxonDevelop.1
MAXONDEV.1



'text_return'
'text_insertchars '
'text_linestart'
'text_textstart'
GoldEd3.0
Workbench
GOLDED.1
"
'LOCK CURRENT'
'UNLOCK'

TEXT CR T=
'GOTO COLUMN 1'
'GOTO TOP'
Edward1.0
Workbench
EDWARD



'Return'
'InsertChars'
'Left -1'
'Top'
Ed
Workbench
Ed
"


N
I
CS
T
TurboText
Workbench
TURBOTEXT0



Insert
InsertLine
MoveSOL
MoveTOF
5
C++ 2.0
//

*
-
#ANSI C
ANSI C
/*
*/
*
-
#68k Assembler
Assembler
;

*
-
#AmigaBASIC
AmigaBASIC
REM

*
-
#Pascal
Pascal
{*
*}
*
-
