; SYNTAX: ALIGNLEFT/S,ALIGNRIGTH/S,ALIGNTOP/S,ALIGNBOTTOM/S,WIDTH/N,HEIGHT/N,CELLWIDTH/N,CELLHEIGHT/N,LABEL/K,CLICK/K,CLICKSHIFT/K,CLICKALT/K,CLICKCTRL/K
ALIGNBOTTOM WIDTH=100 HEIGHT=100
LABEL="CONTENTS"          CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=Main"
LABEL="Command line"      CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=ManualUsage"
LABEL="Comments"          CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgComments"
LABEL="Compiler"          CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=Compiler"
LABEL="Constants"         CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgConstants"
LABEL="Data types"        CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgTypeIntro"
LABEL="Display"           CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6LibDisplay"
LABEL="DOS"               CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6LibDOSFunctions"
LABEL="Error Codes"       CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=ErrorCodes"
LABEL="Events"            CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6LibEvent"
LABEL="Functions"         CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgTypeFunc"
LABEL="Graphics"          CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6LibGfx"
LABEL="If-Else"           CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgIf"
LABEL="Includes"          CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgIncludes"
LABEL="Loops"             CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgFlow"
LABEL="Math"              CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6LibMath"
LABEL="Network"           CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6LibNetwork"
LABEL="Numbers"           CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgTypeNumber"
LABEL="Operators"         CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgOprPri"
LABEL="Preprocessor"      CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgPreproc"
LABEL="Reserved"          CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgIdentifiers"
LABEL="Sound"             CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6LibSound"
LABEL="String functions"  CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6LibString"
LABEL="Strings"           CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgTypeString"
LABEL="Styleguide"        CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgStyleguideSuggestions"
LABEL="Switch"            CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgSwitch"
LABEL="System"            CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6LibSys"
LABEL="Tables"            CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgTypeTable"
LABEL="Text"              CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6LibText"
LABEL="Variables"         CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6PrgVariables"
LABEL="Video"             CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6LibVideo"
LABEL="APPENDIX: Index"   CLICK="HELP CATALOG=hollywood:help/Hollywood.guide TOPIC=V6Reference"

