SORTREC _S_RUNTIME_boolean;
                                       
XREAD(read__boolean)
{
   extern int EXFUN(strcmp,(CONST char *,CONST char *));
   *OK= false;
   *SYSO = SYSI;
   *RES= A;
   if (!READ_IDENTIFIER()) return;
   if (strcmp(ID,"true") == 0) {*OK= true; *RES= true;} else
   if (strcmp(ID,"false") == 0){*OK= true; *RES= false;}
}
 
XWRITE(write__boolean)
{ 
   if ((unsigned)A) S_OUT("true"); else S_OUT("false");
   *OK= true;
   *SYSO = SYSI;
}

XCOPY(copy__boolean)
{ 
   return A;
}

XFREE(free__boolean)
{
}

XEQ(_X61_X61__boolean)
{ 
   return (TERM)((unsigned)A1==(unsigned)A2);
}

void
DEFUN_VOID(BOOLEAN_RINITIALIZE)
 { _S_RUNTIME_boolean=NEW_ESORT(read__boolean,write__boolean,
                                  copy__boolean,free__boolean,
                                  _X61_X61__boolean
                                  ,"boolean"
				  );
				  
  _S_RUNTIME_boolean->numcons = -2;
}
