SORTREC _S_RUNTIME_char;

static int
DEFUN_VOID(read_octal)
 { int i; FOURBYTES FPOS=mark_POS();
   i=0;
   do { i=8*i+(LAST_CH-'0');
        drop_POS(FPOS);
        FPOS=mark_POS();
      }
   while ((i<64)&&(GET_CHAR()>='0')&&(LAST_CH<='7'));
   if (i<64)
     to_POS(FPOS);
   else
     drop_POS(FPOS);
   return i;
 }

int
DEFUN_VOID(read_char0)
 { if (LAST_CH=='\\')
	switch(GET_CHAR()) {
	 case '0' : return (int) '\0';
	 case 'n' : return (int) '\n';
	 case 'r' : return (int) '\r';
	 case 'f' : return (int) '\f';
	 case 't' : return (int) '\t';
	 case '"' : return (int) '\"';
	 case '\'': return (int) '\'';
	 case '\\': return (int) '\\';
	 case 'b' : return (int) '\b';
	 default  : if ((LAST_CH>='1')&&(LAST_CH<='7'))
		      return read_octal() & 0xff;
		    else if ((LAST_CH < ' ')||(LAST_CH > 126)) return -1;
			 else return (int) LAST_CH;
	}
   else if ((LAST_CH < ' ')||(LAST_CH > 126)) return -1;
	else return (int) LAST_CH;
 }
 
static unsigned
DEFUN_VOID(READ_SQUOT) { EAT_WHITESPACE(); return LAST_CH=='\''; }
 
XREAD(read__char)
 { int ch;
   *OK= false;
   *SYSO= SYSI;
   *RES= A;
   if (!READ_SQUOT()) return;
   if (GET_CHAR() == '\'') return;
   if ((ch=read_char0()) == -1) return;
   if (!READ_SQUOT()) return;
   *OK= true;
   *RES= (TERM)(int) __tchar(ch);
 }

void
DEFUN(write_char0,(c),
      char c)
 { switch(c){
       case '\b' : S_OUT("\\b"); break;
       case '\0' : S_OUT("\\0"); break;
       case '\n' : S_OUT("\\n"); break;
       case '\r' : S_OUT("\\r"); break;
       case '\t' : S_OUT("\\t"); break;
       case '\f' : S_OUT("\\f"); break;
       case '\"' : S_OUT("\\\""); break;
       case '\'' : S_OUT("\\\'"); break;
       case '\\' : S_OUT("\\\\"); break;
       default : if ((c < ' ')||(c > 126)) { char d1,d2,d3;
		     C_OUT('\\');
		     d1=__tchar((((unsigned)c&0xff)>>6)+'0');
		     c &= 63;
		     d2=__tchar((c>>3)+'0');
		     d3=__tchar((c&7)+'0');
		     if (d1=='0')
		       if (d2=='0')                     C_OUT(d3);
		       else		     {C_OUT(d2);C_OUT(d3);}
		     else	   {C_OUT(d1);C_OUT(d2);C_OUT(d3);}
		 } else C_OUT(c);
   }
 }

XWRITE(write__char)
 { C_OUT('\'');
   write_char0(__tchar((int)A));
   C_OUT('\'');
   *OK= true;
   *SYSO= SYSI;
 }
 
XCOPY(copy__char)
 { return A;}

XFREE(free__char)
 {
 }

XEQ(_X61_X61__char)
 { return (TERM)(__tchar((int)A1)==__tchar((int)A2)); } 

void
DEFUN_VOID(CHAR_RINITIALIZE)
 {
   _S_RUNTIME_char   =NEW_ESORT(read__char,write__char,
                                  copy__char,free__char,
                                  _X61_X61__char
                                  ,"char"
				  );
  _S_RUNTIME_char->numcons    = -2;
}
