SORTREC _S_RUNTIME_system;

XWRITE(write__system)
 { *OK= true;
   *SYSO= SYSI;
   S_OUT("...system...");
 }

XREAD(read__system)
 { *OK= false;
   *RES= A;
   *SYSO= SYSI;
 }

XFREE(free__system)
 {
 }

XCOPY(copy__system)
 { return A; }

XEQ(_X61_X61__system)
 { return false; }

void
DEFUN_VOID(SYSTEM_RINITIALIZE)
{
   _S_RUNTIME_system =NEW_ESORT(read__system,write__system,
                                copy__system,free__system,
                                _X61_X61__system
                               ,"system"
			       );
  _S_RUNTIME_system->numcons = -2;
}
