# Konfigurationsdatei zu AddComment V1.0
# © by Harald Sodemann 1.9.1996
4
Edward 1.0
Workbench
EDWARD
Return
InsertChars
Left -1
Right -1
Top
Ed
Workbench
Ed
N
I


T
TurboText
Workbench
TURBOTEXT0
Insert
InsertLine
MoveSOL
MoveEOL
MoveTOF
Oberon Editor
Workbench
OEd
return
write
first
last
top
5
C++ 2.0
//

*
-
#ANSI C
ANSI C
/*
*/
*
-
#68k Assembler
Assembler
;

*
-
#AmigaBASIC
AmigaBASIC
REM

*
-
#Pascal
Pascal
{*
*}
*
-
