{ef1}
{RNC?1{MOD?PROT?MODs/Electroquest.MoD}}
{RNC?1{PIC?ILBM?PICs/MVR.IFF}}
{FNT?ILBM?16?FONTs/FONT.IFF}
{noe}
{SCR}
{CEN}{GRF?WELCOME TO MVR}
{COL?7,0}
{ZON? Introducing to MV Reader     ,{TXT?TEXTs/INTR.TXT}}

{ZON? Short oversee of abilities   ,{TXT?TEXTs/Short.TXT}}

{ZON? Installation of MVR          ,{TXT?TEXTs/Install.TXT}}

{ZON? Future of MV Reader          ,{TXT?TEXTs/Future.TXT}}

{ZON? AMOS Extensions on this disk ,{TXT?TEXTs/AmosE.TXT}}

-----------------------------------
{col?5,0}
{ZON?Click here for picture,{RNC?1{PIC?ILBM?PICs/mvr.IFF}}}
{OFF}{col?6,0}
                Full description of all MVR commands is on this disk in
                file called *Instruction.Help.

{END}
