============================== README.dist ==============================

To the best of my knowledge, materials in this library are freely
redistributable.  This means that they have met one or more of the
following conditions:

(1)	The materials contains explicit copyright notices permitting
	redistribution.

(2)	The materials were posted to a publically accessable electronic
	bulletin board and did not contain any copyright notice.
	(Such materials will be removed if it is subsequently shown
	that copyright notices were illegally removed.)

(3)	The materials were posted to a widely disseminated electronic
	network (such as usenet), thus implying that their author/poster
	intended them to be freely distributed.  This applies only if
	they contain no notice limiting distribution.

(4)	The materials contain an explicit notice placing them in the
	public domain.  This is not the same as condition (1).

To obtain a list of all disks currently available in the AMIGA library,
and ordering information, send a stamped, self-addressed envelope to:

	Fred Fish
	345 Scottsdale Road
	Pleasant Hill, Ca  94523

A small service charge is made to cover the cost of disk, mailing
materials, postage, and associated miscellaneous expenses.

=========================================================================
